/* BREAKPOINTS

1600px
1200px
900px
700px

*/
@font-face {
  font-family: Silka;
  font-weight: 700;
  src: url(assets/fonts/silka-bold.woff2);
}
@font-face {
  font-family: Silka;
  font-weight: 600;
  src: url(assets/fonts/silka-semibold.woff2);
}
@font-face {
  font-family: Silka;
  font-weight: 500;
  src: url(assets/fonts/silka-medium.woff2);
}
@font-face {
  font-family: Silka;
  font-weight: 400;
  src: url(assets/fonts/silka-regular.woff2);
}
@font-face {
  font-family: SignPainter;
  font-weight: 400;
  src: url(assets/fonts/SignPainter-HouseScript-regular.woff);
}
@font-face {
  font-family: SignPainter;
  font-weight: 500;
  src: url(assets/fonts/SignPainter-HouseScript-medium.woff);
}
@font-face {
  font-family: BudNull;
  font-weight: 500;
  src: url(assets/fonts/budnull-medium.woff2);
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Silka";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  color: #B07E4B;
  background: rgba(68, 42, 27, 0.996);
}

::selection {
  color: #B07E4B;
  background: rgba(68, 42, 27, 0.996);
}

a {
  display: block;
  text-decoration: none;
  color: #B07E4B;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-family: "SignPainter", sans-serif;
  font-weight: 500;
  color: #fcbd00;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

p {
  font-size: 1.125rem;
  line-height: 1.6;
}

button {
  border: none;
}

.button.primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.5rem 1.75rem;
  border-radius: 1rem;
  background: #FCBC00;
  color: #442A1B;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transition-property: background-color, -webkit-transform, -webkit-box-shadow;
  transition-property: background-color, -webkit-transform, -webkit-box-shadow;
  -o-transition-property: transform, background-color, box-shadow;
  transition-property: transform, background-color, box-shadow;
  transition-property: transform, background-color, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}
.button.primary svg {
  margin-right: 0.75rem;
}
.button.primary:hover {
  -webkit-box-shadow: 0 16px 24px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 24px rgba(0, 0, 0, 0.2);
  background: white;
  -webkit-transform: translate3d(0, -6px, 0);
          transform: translate3d(0, -6px, 0);
}
@media only screen and (max-width: 900px) {
  .button.primary {
    padding: 1.5rem 1.5rem;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #27160e;
  scroll-margin-top: 100px;
}
@media only screen and (max-width: 900px) {
  section {
    scroll-margin-top: 72px;
  }
}
section.section--light {
  background: #442A1B;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: calc(1280px + 4rem);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7rem 2rem;
}
.container--small {
  max-width: calc(846px + 4rem);
}
.container--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container--full {
  max-width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.container .col-100 {
  width: 100%;
}
.container .col-50 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
@media only screen and (max-width: 900px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 6rem 1rem;
  }
  .container .col-50 {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 4rem 1rem;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 1.5rem;
}

.headline-comb .h2 {
  position: relative;
  font-size: 9.5rem;
  font-family: BudNull;
  font-weight: 500;
  color: #FCBC00;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.headline-comb .h2 span {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: SignPainter;
  font-weight: 500;
  font-size: 4rem;
  color: white;
  text-align: center;
  text-transform: none;
  text-shadow: 0 0 24px rgba(0, 0, 0, 0.24);
}
.headline-comb .h2::after {
  content: "";
  position: absolute;
  bottom: -3.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 75px;
  height: 13px;
  background: url("assets/wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (max-width: 1200px) {
  .headline-comb .h2 {
    font-size: 7rem;
    margin-bottom: 4rem;
  }
  .headline-comb .h2 span {
    font-size: 3rem;
  }
  .headline-comb .h2::after {
    bottom: -2.25rem;
  }
}
@media only screen and (max-width: 900px) {
  .headline-comb .h2 {
    font-size: 6rem;
    margin-bottom: 4rem;
  }
  .headline-comb .h2 span {
    font-size: 2.5rem;
  }
  .headline-comb .h2::after {
    bottom: -2.25rem;
  }
}
.headline-comb--small .h2 {
  font-size: 6rem;
}
.headline-comb--small .h2 span {
  font-size: 3rem;
}

.headline-img {
  position: relative;
  margin-bottom: 6rem;
}
.headline-img::after {
  content: "";
  position: absolute;
  bottom: -3.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 75px;
  height: 13px;
  background: url("assets/wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.headline-img img {
  width: 330px;
  max-width: 100%;
}
@media only screen and (max-width: 500px) {
  .headline-img img {
    width: 273px;
  }
}

.headline-sign {
  padding: 1.25rem 1rem;
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "SignPainter", sans-serif;
  font-weight: 500;
  font-size: 4.5rem;
  letter-spacing: 0;
  line-height: 4.5rem;
  color: #DEAF83;
  margin-bottom: 3rem;
  background: url("assets/images/headline-sign.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (max-width: 540px) {
  .headline-sign {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 500px) {
  .headline-sign {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .headline-sign {
    font-size: 3rem;
  }
}

.flower-sandwich-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "SignPainter", sans-serif;
  font-weight: 500;
  font-size: 4.5rem;
  letter-spacing: 0;
  line-height: 4.5rem;
  width: 100%;
  color: #DEAF83;
  text-align: center;
  margin-bottom: 4.5rem;
}
.flower-sandwich-headline::before {
  content: "";
  display: block;
  height: 25px;
  width: 114px;
  background-image: url("assets/images/little-flowers.svg");
}
.flower-sandwich-headline::after {
  content: "";
  display: block;
  height: 25px;
  width: 114px;
  background-image: url("assets/images/little-flowers.svg");
}
@media only screen and (max-width: 900px) {
  .flower-sandwich-headline {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

.headline-swing-top {
  position: relative;
  color: #DEAF83;
  font-family: Silka;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 2rem;
  letter-spacing: 0;
  line-height: 41.6px;
}
.headline-swing-top::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0;
  width: 75px;
  height: 13px;
  background: url("assets/wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.acc__trigger {
  color: #FCBC00;
  font-family: Silka;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.acc__trigger:hover {
  padding: 1.5rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.025);
}
@media only screen and (max-width: 900px) {
  .acc__trigger:hover {
    padding: 1.5rem 0;
    background-color: rgba(255, 255, 255, 0);
  }
}
@media only screen and (max-width: 900px) {
  .acc__trigger {
    font-size: 1.125rem;
  }
}
.acc__trigger:first-of-type {
  border-top: 2px solid #B07E4B;
}
.acc__trigger::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("assets/icons/arrow-icon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.acc__trigger.active {
  padding: 1.5rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.025);
}
.acc__trigger.active::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.acc__content-wrapper {
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  height: 0;
  border-bottom: 2px solid #B07E4B;
  color: white;
  font-family: Silka;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
  padding: 0 1.5rem;
}
.acc__content-wrapper.active {
  height: auto;
  background-color: rgba(255, 255, 255, 0.025);
}

p.hl-richtext-comb {
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}
p.hl-richtext-comb::-moz-selection {
  color: #563E31;
  background: rgba(255, 255, 255, 0.996);
}
p.hl-richtext-comb::selection {
  color: #563E31;
  background: rgba(255, 255, 255, 0.996);
}
@media only screen and (max-width: 900px) {
  p.hl-richtext-comb {
    font-size: 1rem;
  }
}

.rte {
  color: white;
  font-size: 18px;
  line-height: 1.6;
}
@media only screen and (max-width: 900px) {
  .rte {
    font-size: 16px;
  }
}
.rte ul {
  list-style: none;
  margin: 0.5rem 0 1.5rem 0;
  padding: 0;
}
.rte li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.125rem;
  line-height: 1.6;
}
.rte li::before {
  content: "";
  display: block;
  width: 21px;
  height: 18px;
  margin-right: 1rem;
  margin-top: 0.25rem;
  background-image: url("assets/icons/check-icon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media only screen and (max-width: 900px) {
  .rte li {
    font-size: 16px;
  }
}
.rte p {
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 900px) {
  .rte p {
    font-size: 16px;
  }
}
.rte p span {
  text-decoration: underline;
}
.rte a {
  position: relative;
  display: inline;
  color: #FCBC00;
  font-weight: bold;
}
.rte a::before {
  position: absolute;
  bottom: -4px;
  content: "";
  height: 2px;
  width: 0;
  background-color: #FCBC00;
}
.rte a:hover::before {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.5rem;
  z-index: 100;
}
@media only screen and (max-width: 900px) {
  header {
    height: 4.5rem;
  }
}

.main-nav-desktop,
.main-nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #442A1B;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.24);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.24);
}

.main-nav-desktop {
  border: 8px solid #27160E;
  padding: 0 2rem 0 1.5rem;
}
@media only screen and (max-width: 900px) {
  .main-nav-desktop {
    display: none;
  }
}

.main-nav-mobile {
  display: none;
  border: 6px solid #27160E;
  padding: 0 0.5rem 0 1.25rem;
}
@media only screen and (max-width: 900px) {
  .main-nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-nav-mobile .mobile-nav-control {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.main-nav-mobile-flyout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 4.5rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 4.5rem);
  background: #27160E;
  z-index: 5;
  padding-top: 4rem;
  -webkit-transform: translate3D(-100%, 0, 0);
      -ms-transform: translate3D(-100%, 0, 0);
          transform: translate3D(-100%, 0, 0);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  will-change: transform;
  -webkit-box-shadow: inset 0 4px 24px rgba(0, 0, 0, 0.24);
          box-shadow: inset 0 4px 24px rgba(0, 0, 0, 0.24);
}
.main-nav-mobile-flyout::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  height: calc(100% + 2px);
  width: 90px;
  background-image: url("assets/frame.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  -webkit-filter: drop-shadow(4px 0 16px rgba(0, 0, 0, 0.24));
          filter: drop-shadow(4px 0 16px rgba(0, 0, 0, 0.24));
  z-index: 1;
  -webkit-transform: translate3D(-100%, 0, 0);
      -ms-transform: translate3D(-100%, 0, 0);
          transform: translate3D(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  -o-transition: transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}
.main-nav-mobile-flyout::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 202px;
  height: 185px;
  background-image: url("assets/images/flower-2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.03;
}
.main-nav-mobile-flyout.main-nav-mobile-flyout--open {
  -webkit-transform: translate3D(0, 0, 0);
      -ms-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}
.main-nav-mobile-flyout.main-nav-mobile-flyout--open .main-nav li, .main-nav-mobile-flyout.main-nav-mobile-flyout--open::before {
  -webkit-transform: translate3D(0, 0, 0);
      -ms-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}
.main-nav-mobile-flyout hr {
  margin: 0 0 2rem 8rem;
  width: 200px;
  border-color: #B07E4B;
  opacity: 0.25;
}
.main-nav-mobile-flyout .main-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8rem;
}
.main-nav-mobile-flyout .main-nav li {
  text-align: left;
  -webkit-transform: translate3D(-100%, 0, 0);
      -ms-transform: translate3D(-100%, 0, 0);
          transform: translate3D(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  -o-transition: transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}
.main-nav-mobile-flyout .main-nav li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.main-nav-mobile-flyout .main-nav li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
       -o-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.main-nav-mobile-flyout .main-nav li:nth-child(3) {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.main-nav-mobile-flyout .main-nav li:nth-child(4) {
  -webkit-transition-delay: 0.25s;
       -o-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.main-nav-mobile-flyout .main-nav li:nth-child(5) {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.main-nav-mobile-flyout .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 8rem;
}
.main-nav-mobile-flyout .social-links a {
  cursor: pointer;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  font-family: Silka, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1.7px;
}
.main-nav li {
  padding: 1rem 0;
  margin-right: 2.5rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
.main-nav li a {
  color: #B07E4B;
}
.main-nav li:last-child {
  margin-right: 0;
}
.main-nav li:hover a {
  color: #DEAF83;
}

.header-logo {
  display: block;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.header-logo:hover {
  opacity: 0.7;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 155px;
}
.social-links a {
  margin-left: 2rem;
}
.social-links a:first-child {
  margin-left: 0;
}
.social-links a svg {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.social-links a:hover svg {
  fill: #DEAF83 !important;
}
@media only screen and (max-width: 1200px) {
  .social-links {
    display: none;
  }
}

.frame {
  position: fixed;
  top: 102px;
  left: -1px;
  z-index: 10;
  width: 100px;
  height: calc(100% - 102px);
  background-image: url("assets/frame.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  -webkit-filter: drop-shadow(4px 0 16px rgba(0, 0, 0, 0.24));
          filter: drop-shadow(4px 0 16px rgba(0, 0, 0, 0.24));
}
.frame.frame-right {
  left: auto;
  right: -1px;
  height: calc(100% - 102px);
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  background-position: top right;
  -webkit-filter: drop-shadow(-4px 0 16px rgba(0, 0, 0, 0.24));
          filter: drop-shadow(-4px 0 16px rgba(0, 0, 0, 0.24));
}
@media only screen and (min-height: 1080px) {
  .frame {
    width: 120px;
    background-size: contain;
  }
  .frame.frame-right {
    background-position: top left;
  }
}
@media only screen and (max-width: 1600px) {
  .frame {
    display: none;
  }
}

section.stage {
  position: relative;
  margin-top: 6.5rem;
  height: calc(100vh - 6.5rem);
  width: 100%;
}
@media only screen and (max-width: 900px) {
  section.stage {
    margin-top: 4.5rem;
    height: calc(100vh - 4rem);
    max-height: 850px;
  }
}

.infobar-desktop,
.infobar-mobile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 6rem;
  width: 100%;
  background: #B07E4B;
  z-index: 1;
}
.infobar-desktop .info-wrapper,
.infobar-mobile .info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  padding: 0 11rem;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .infobar-desktop .info-wrapper,
.infobar-mobile .info-wrapper {
    padding: 0 2rem;
  }
}
.infobar-desktop .info-item,
.infobar-mobile .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.infobar-desktop .info-item svg,
.infobar-mobile .info-item svg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.infobar-desktop .info-text p,
.infobar-mobile .info-text p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
  color: #442A1B;
  margin: 0;
  padding-left: 1rem;
}
.infobar-desktop .info-text p a,
.infobar-mobile .info-text p a {
  display: inline-block;
  position: relative;
  font-weight: 700;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  color: #442A1B;
}
.infobar-desktop .info-text p a::after,
.infobar-mobile .info-text p a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #442A1B;
  opacity: 0;
}
.infobar-desktop .info-text p a:hover::after,
.infobar-mobile .info-text p a:hover::after {
  opacity: 1;
}

.infobar-desktop {
  position: absolute;
  background: rgba(176, 126, 75, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(4px);
          backdrop-filter: saturate(180%) blur(4px);
}
@media only screen and (max-width: 900px) {
  .infobar-desktop {
    display: none;
  }
}

.infobar-mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  height: auto;
}
.infobar-mobile .info-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.25rem;
  border-radius: 6px;
  width: 100%;
  height: 44px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.08);
}
.infobar-mobile .info-toggle .info-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.33%;
}
.infobar-mobile .info-toggle .info-item.info-toggle-active svg {
  fill: #DEAF83 !important;
}
.infobar-mobile .info-toggle .info-item.location {
  position: relative;
}
.infobar-mobile .info-toggle .info-item.location::after, .infobar-mobile .info-toggle .info-item.location::before {
  content: "";
  position: absolute;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.infobar-mobile .info-toggle .info-item.location::after {
  top: 0.25rem;
  width: 100%;
  height: 28px;
  border: 2px solid rgba(68, 42, 27, 0.5);
  border-top-width: 0;
  border-bottom-width: 0;
}
.infobar-mobile .info-toggle .info-item.location::before {
  top: 0;
  height: 100%;
  border-radius: 4px;
  background: #442A1B;
}
.infobar-mobile .info-toggle .info-item.location.info-toggle-left::after {
  border-left-width: 0;
}
.infobar-mobile .info-toggle .info-item.location.info-toggle-left::before {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.infobar-mobile .info-toggle .info-item.location.info-toggle-right::after {
  border-right-width: 0;
}
.infobar-mobile .info-toggle .info-item.location.info-toggle-right::before {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.infobar-mobile .info-toggle-content {
  position: relative;
  top: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 5rem;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.infobar-mobile .info-toggle-content .info-text-before {
  -webkit-transform: translateY(-50%) translateX(-350px);
      -ms-transform: translateY(-50%) translateX(-350px);
          transform: translateY(-50%) translateX(-350px);
}
.infobar-mobile .info-toggle-content .info-text-after {
  -webkit-transform: translateY(-50%) translateX(350px);
      -ms-transform: translateY(-50%) translateX(350px);
          transform: translateY(-50%) translateX(350px);
}
.infobar-mobile .info-toggle-content .info-text-active {
  opacity: 1;
}
.infobar-mobile .info-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}
.infobar-mobile .info-text p {
  text-align: center;
  line-height: 1.3;
}
.infobar-mobile .info-text p a {
  display: inline-block;
}
.infobar-mobile .info-text p a::after {
  opacity: 1;
}
@media only screen and (max-width: 900px) {
  .infobar-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.stage-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(4px);
          backdrop-filter: saturate(180%) blur(4px);
}
.stage-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(39, 22, 14, 0.5);
}
.stage-image .hero-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.stage-image .hero-image--active {
  opacity: 1;
}
.stage-image .stage-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
.stage-image .stage-content img {
  height: 6rem;
  margin-bottom: 2.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media only screen and (max-width: 900px) {
  .stage-image .stage-content img {
    width: 70vw;
    height: auto;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-height: 680px) {
  .stage-image .stage-content img {
    display: none;
  }
}
.stage-image .stage-content p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 70rem;
  padding: 0 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  color: white;
  margin-bottom: 3rem;
  -webkit-filter: drop-shadow(0px 0px 24px rgb(0, 0, 0));
          filter: drop-shadow(0px 0px 24px rgb(0, 0, 0));
}
@media only screen and (max-width: 900px) {
  .stage-image .stage-content p {
    font-size: 1.125rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-height: 560px) {
  .stage-image .stage-content p {
    padding-top: 5rem;
  }
}
@media only screen and (max-width: 900px) {
  .stage-image .stage-content {
    margin-bottom: 3rem;
  }
}
.stage-image .scroll-indicator {
  position: absolute;
  bottom: 3rem;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  background: url("assets/icons/scroll-Indicator.svg");
  background-size: 20px 27px;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  -webkit-animation: scroll-down 1.2s cubic-bezier(0.75, 0.24, 0.36, 0.83) infinite;
          animation: scroll-down 1.2s cubic-bezier(0.75, 0.24, 0.36, 0.83) infinite;
  border-radius: 1rem;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
}
@-webkit-keyframes scroll-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes scroll-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.stage-image .scroll-indicator:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media only screen and (max-height: 680px) {
  .stage-image .scroll-indicator {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .stage-image {
    max-height: 850px;
  }
}

section.introduction {
  padding: 2rem 0;
  position: relative;
}
section.introduction::before, section.introduction::after {
  content: "";
  position: absolute;
  width: 364px;
  height: 407px;
  background-size: cover;
  opacity: 0.03;
}
section.introduction::before {
  top: 0;
  left: 3rem;
  background-image: url("assets/images/flower-1.svg");
}
section.introduction::after {
  bottom: 0;
  right: 3rem;
  background-image: url("assets/images/flower-2.svg");
}
@media only screen and (max-width: 1600px) {
  section.introduction {
    padding: 0;
  }
  section.introduction::before {
    left: -0.5rem;
  }
  section.introduction::after {
    right: 0.5rem;
  }
}
@media only screen and (max-width: 900px) {
  section.introduction::before, section.introduction::after {
    width: 182px;
    height: 204px;
  }
}
section.introduction .intro-card {
  position: relative;
  padding: 0 4rem;
  z-index: 1;
  width: 100%;
}
section.introduction .intro-card .intro-img {
  width: 100%;
  -webkit-filter: drop-shadow(8px 8px 24px rgba(0, 0, 0, 0.24));
          filter: drop-shadow(8px 8px 24px rgba(0, 0, 0, 0.24));
}
section.introduction .intro-card::after {
  content: "";
  position: absolute;
  top: -4rem;
  left: 0;
  width: 40%;
  height: 40%;
  max-width: 200px;
  max-height: 200px;
  background-image: url("assets/images/aloha-stoerer.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  -webkit-filter: drop-shadow(4px 4px 24px rgba(39, 22, 14, 0.72));
          filter: drop-shadow(4px 4px 24px rgba(39, 22, 14, 0.72));
  -webkit-animation: stoerer 4s 0s ease-in-out infinite;
          animation: stoerer 4s 0s ease-in-out infinite;
}
@-webkit-keyframes stoerer {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes stoerer {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@media only screen and (max-width: 1200px) {
  section.introduction .intro-card::before {
    left: 7rem;
  }
}
@media only screen and (max-width: 900px) {
  section.introduction .intro-card {
    width: 90%;
    height: auto;
    max-width: 465px;
    margin-bottom: 5rem;
  }
  section.introduction .intro-card::before {
    left: 2rem;
  }
  section.introduction .intro-card::after {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  section.introduction .intro-card {
    padding: 0 1.5rem;
  }
}

.history {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
}
.history::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #442A1B;
  mix-blend-mode: multiply;
}
.history__container {
  z-index: 1;
  overflow: hidden;
}

.history-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 2rem;
}
.history-slider .button.primary {
  color: white;
  background: transparent;
  position: relative;
  padding: 0.1rem 0 0 2rem;
  margin-top: 2.5rem;
  font-size: 1rem;
}
.history-slider .button.primary::before, .history-slider .button.primary::after {
  content: "";
  position: absolute;
}
.history-slider .button.primary::before {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("assets/icons/arrow-right.svg");
}
.history-slider .button.primary::after {
  width: calc(100% - 2rem);
  right: 0;
  bottom: -3px;
  height: 2px;
  background: #FCBC00;
  opacity: 0;
}
.history-slider .button.primary:hover {
  color: #FCBC00;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.history-slider .button.primary:hover::after {
  opacity: 1;
}
.history-slider__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.history-slider__nav-before, .history-slider__nav-after {
  display: block;
  position: absolute;
  top: 50%;
  left: -1.5rem;
  width: 24px;
  height: 24px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("assets/icons/arrow-icon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.history-slider__nav-after {
  left: auto;
  right: -1.5rem;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.history-slider__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.history-slider__nav-item:not(:last-of-type)::after {
  content: "";
  display: block;
  height: 2px;
  width: 2.9rem;
  background-color: #B07E4B;
}
@media only screen and (max-width: 1200px) {
  .history-slider__nav-item:not(:last-of-type)::after {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .history-slider__nav-item {
    display: none;
  }
}
.history-slider__nav-item span {
  position: relative;
  opacity: 0.5;
  color: #DEAF83;
  font-family: BudNull;
  font-size: 37px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.8rem;
  margin: 0 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: color, font-size;
  -o-transition-property: color, font-size;
  transition-property: color, font-size;
}
.history-slider__nav-item span::after {
  content: "";
  position: absolute;
  bottom: -1.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 14px;
  width: 66px;
  background: url(assets/wave.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.history-slider__nav-item span:hover {
  color: white;
  opacity: 1;
}
.history-slider__nav-item--active span {
  display: block;
  color: #FFFFFF;
  font-size: 3rem;
  opacity: 1;
}
.history-slider__nav-item--active span::after {
  opacity: 1;
}
@media only screen and (max-width: 1200px) {
  .history-slider__nav-item--active {
    display: block;
  }
}
.history-slider__content {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 4.375rem;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
}
.history-slider__content-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.history-slider__content-item--active {
  opacity: 1;
}
.history-slider__content-item--before {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.history-slider__content-item--after {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
@media only screen and (max-width: 1200px) {
  .history-slider__content-container {
    display: block;
  }
}
.history-slider__content-text {
  margin-top: 5.25rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  margin-right: 0.5rem;
}
@media only screen and (max-width: 1200px) {
  .history-slider__content-text {
    margin-top: 0;
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 600px) {
  .history-slider__content-text {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}
.history-slider__content-headline {
  color: #FFFFFF;
  font-family: SignPainter;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 4rem;
}
@media only screen and (max-width: 900px) {
  .history-slider__content-headline {
    font-size: 3.5rem;
  }
}
.history-slider__content-para {
  margin-top: 1.5rem;
  padding-left: 1.75rem;
  border-left: 2px solid #FCBC00;
  color: white;
}
.history-slider__content-img {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.history-slider__content-img-wrapper {
  -webkit-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
          transform: rotate(3deg);
}
.history-slider__content-img-wrapper img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2rem;
  border: 10px solid #442a1b;
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
}
@media only screen and (max-width: 1200px) {
  .history-slider__content-img-wrapper img {
    max-width: 60vw;
    height: auto;
  }
}
@media only screen and (max-width: 900px) {
  .history-slider__content-img-wrapper img {
    max-width: 80vw;
    height: auto;
  }
}
.history-slider__button {
  margin-top: 2rem;
  cursor: pointer;
}

.pre-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  padding: 5rem 1rem 6rem 1rem;
  background-image: url("assets/images/pre-footer.jpg");
  background-size: cover;
  background-position: center center;
}
@media only screen and (max-width: 600px) {
  .pre-footer {
    padding: 4rem 1rem 5rem 1rem;
  }
  .pre-footer p {
    font-size: 1rem;
  }
}
.pre-footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(39, 22, 14, 0.6);
}
.pre-footer .pre-footer-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  text-align: center;
}
.pre-footer .pre-footer-content {
  width: 100%;
  max-width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  color: white;
  text-align: center;
}
.pre-footer .pre-footer-content .h3 {
  font-family: "SignPainter", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1;
  margin-top: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .pre-footer .pre-footer-content .h3 {
    font-size: 2.75rem;
  }
}
.pre-footer .pre-footer-content h3::-moz-selection, .pre-footer .pre-footer-content p::-moz-selection, .pre-footer .pre-footer-content strong::-moz-selection, .pre-footer .pre-footer-content a::-moz-selection, .pre-footer .pre-footer-content br::-moz-selection {
  background: rgba(255, 255, 255, 0.996);
  color: #563E31;
}
.pre-footer .pre-footer-content h3::selection,
.pre-footer .pre-footer-content p::selection,
.pre-footer .pre-footer-content strong::selection,
.pre-footer .pre-footer-content a::selection,
.pre-footer .pre-footer-content br::selection {
  background: rgba(255, 255, 255, 0.996);
  color: #563E31;
}
.pre-footer .pre-footer-content .pre-footer-contact {
  margin: 3rem 0;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  padding: 1.5rem 3rem;
}
.pre-footer .pre-footer-content .pre-footer-contact a {
  display: inline-block;
  position: relative;
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
}
.pre-footer .pre-footer-content .pre-footer-contact a::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  opacity: 0;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.pre-footer .pre-footer-content .pre-footer-contact a:hover::after {
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  .pre-footer .pre-footer-content .pre-footer-contact {
    margin: 2rem 0;
    padding: 1rem 1.5rem;
  }
  .pre-footer .pre-footer-content .pre-footer-contact a {
    font-size: 1rem;
  }
}
.pre-footer .pre-footer-content .pre-footer-opening {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pre-footer .pre-footer-content .pre-footer-opening p:first-child {
  margin-right: 4rem;
}
@media only screen and (max-width: 600px) {
  .pre-footer .pre-footer-content .pre-footer-opening {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pre-footer .pre-footer-content .pre-footer-opening p:first-child {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.eat-drink {
  position: relative;
}
.eat-drink::before, .eat-drink::after {
  content: "";
  position: absolute;
  width: 364px;
  height: 407px;
  background-size: cover;
  opacity: 0.03;
}
.eat-drink::before {
  top: 0;
  left: 3rem;
  background-image: url("assets/images/flower-1.svg");
}
.eat-drink::after {
  bottom: 0;
  right: 3rem;
  background-image: url("assets/images/flower-2.svg");
}
@media only screen and (max-width: 1600px) {
  .eat-drink {
    padding: 0;
  }
  .eat-drink::before {
    left: -0.5rem;
  }
  .eat-drink::after {
    right: 0.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .eat-drink::before, .eat-drink::after {
    width: 182px;
    height: 204px;
  }
}
.eat-drink__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.eat-drink__text {
  color: white;
  text-align: center;
  max-width: 880px;
}
.eat-drink__text p {
  margin-bottom: 1rem;
}
.eat-drink__split {
  margin: 1.5rem 0;
  width: 75px;
}
.eat-drink__pdf-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1260px;
  margin-top: 4rem;
  margin-bottom: 1rem;
  grid-gap: 3rem;
}
@media only screen and (max-width: 1365px) {
  .eat-drink__pdf-wrapper {
    -ms-grid-columns: 1fr 3rem 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 500px) {
  .eat-drink__pdf-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
}
.eat-drink__pdf-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.eat-drink__pdf-item:nth-child(even) {
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}
.eat-drink__pdf-item:nth-child(odd) {
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg);
}
@media only screen and (min-width: 901px) {
  .eat-drink__pdf-item:hover .eat-drink__pdf-item-image-wrapper {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }
  .eat-drink__pdf-item:hover .eat-drink__pdf-item-image-wrapper::before {
    background: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 0 10px #FCBC00;
            box-shadow: inset 0 0 0 10px #FCBC00;
  }
  .eat-drink__pdf-item:hover .eat-drink__pdf-item-image-wrapper::after {
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85);
    opacity: 1;
  }
  .eat-drink__pdf-item:hover .eat-drink__pdf-item-text {
    color: #FCBC00;
    -webkit-transform: translateY(-0.25rem);
        -ms-transform: translateY(-0.25rem);
            transform: translateY(-0.25rem);
  }
}
.eat-drink__pdf-item-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 2rem;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  margin-bottom: 1rem;
}
.eat-drink__pdf-item-image-wrapper::after, .eat-drink__pdf-item-image-wrapper::before {
  content: "";
  position: absolute;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  width: 100%;
  height: 100%;
}
.eat-drink__pdf-item-image-wrapper::before {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  border-radius: 2rem;
  -webkit-box-shadow: inset 0 0 0 10px #442A1B;
          box-shadow: inset 0 0 0 10px #442A1B;
}
.eat-drink__pdf-item-image-wrapper::after {
  width: 100px;
  height: 100px;
  background-image: url(assets/icons/eye.svg);
  background-size: cover;
  opacity: 0;
  -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
          transform: scale(0.75);
}
.eat-drink__pdf-item-image {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.4);
}
.eat-drink__pdf-item-text {
  font-family: "SignPainter", sans-serif;
  font-size: 3rem;
  color: #DEAF83;
  text-shadow: 3px 4px 0px #442A1B;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.specialities {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.specialities::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #442A1B;
  mix-blend-mode: multiply;
}
.specialities__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 1;
}
.specialities .headline-comb h2 {
  font-size: 7.5rem;
  font-family: BudNull;
  font-weight: 500;
  color: #FCBC00;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 1200px) {
  .specialities .headline-comb h2 {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 900px) {
  .specialities .headline-comb h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .specialities .headline-comb h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .specialities .headline-comb h2 span {
    font-size: 2rem;
  }
}
.specialities__slider {
  width: 100%;
}
.specialities__slide {
  padding: 3rem 10px;
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg);
}
.specialities__slide:nth-child(even) {
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}
.specialities__slide.pre-active .specialities__slide-img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.specialities__slide-img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  aspect-ratio: 1;
  width: 470px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
  border: 10px solid #442a1b;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-box-shadow: 0 0 64px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 64px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 1200px) {
  .specialities__slide-img {
    width: 400px;
  }
}
@media only screen and (max-width: 650px) {
  .specialities__slide-img {
    aspect-ratio: 1;
    width: 80vw;
    height: auto;
  }
}
.specialities .splide__arrow--prev {
  left: 10rem;
}
@media only screen and (max-width: 1600px) {
  .specialities .splide__arrow--prev {
    left: 3rem;
  }
}
@media only screen and (max-width: 650px) {
  .specialities .splide__arrow--prev {
    left: 1rem;
    top: calc(100% + 2rem);
  }
}
.specialities .splide__arrow--prev img {
  -webkit-filter: drop-shadow(0px 0px 16px rgb(0, 0, 0));
          filter: drop-shadow(0px 0px 16px rgb(0, 0, 0));
}
.specialities .splide__arrow--next {
  right: 10rem;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
@media only screen and (max-width: 1600px) {
  .specialities .splide__arrow--next {
    right: 3rem;
  }
}
@media only screen and (max-width: 650px) {
  .specialities .splide__arrow--next {
    right: 1rem;
    top: calc(100% + 2rem);
  }
}
.specialities .splide__arrow--next img {
  -webkit-filter: drop-shadow(0 0 16px rgb(0, 0, 0));
          filter: drop-shadow(0 0 16px rgb(0, 0, 0));
}
.specialities .splide__arrow {
  background: transparent;
  opacity: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.specialities .splide__arrow img {
  width: 80px;
}
@media only screen and (max-width: 650px) {
  .specialities .splide__arrow img {
    width: 15px;
  }
}
.specialities__slide-text-wrapper {
  position: relative;
  max-width: 1045px;
  width: 100%;
}
.specialities__slide-text {
  color: white;
  text-align: center;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  position: absolute;
  padding: 0 1rem;
}
.specialities__slide-text:not(.active) {
  opacity: 0;
  pointer-events: none;
}
.specialities__slide-text .h3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "SignPainter", sans-serif;
  font-weight: 500;
  font-size: 4.5rem;
  letter-spacing: 0;
  line-height: 4.5rem;
  width: 100%;
  color: #DEAF83;
  text-align: center;
  padding: 0 0 1rem;
}
@media only screen and (max-width: 900px) {
  .specialities__slide-text .h3 {
    font-size: 3.5rem;
    padding-bottom: 0.5rem;
  }
}
@media only screen and (max-width: 374px) {
  .specialities__slide-text .h3 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}
@media only screen and (max-width: 900px) {
  .specialities__slide-text p {
    font-size: 1rem;
  }
}

.team .headline-comb .h2 {
  font-size: 7.5rem;
}
@media only screen and (max-width: 1200px) {
  .team .headline-comb .h2 {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 900px) {
  .team .headline-comb .h2 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .team .headline-comb .h2 {
    font-size: 4rem;
  }
}
.team .team-img-wrapper {
  width: 90%;
  padding-left: 3rem;
}
@media only screen and (max-width: 900px) {
  .team .team-img-wrapper {
    padding-left: 0rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}
.team .team-img-wrapper .team-img {
  position: relative;
  -webkit-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
          transform: rotate(3deg);
}
.team .team-img-wrapper .team-img::before, .team .team-img-wrapper .team-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.team .team-img-wrapper .team-img::before {
  top: 1.5rem;
  left: 0.5rem;
  background: #DEAF83;
  opacity: 0.15;
  z-index: -1;
  -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
.team .team-img-wrapper .team-img::after {
  top: 0;
  left: 0;
  -webkit-box-shadow: 16px 16px 64px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 16px 16px 64px 0 rgba(0, 0, 0, 0.3);
}
.team .team-img-wrapper .team-img img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}

.team-member {
  background-color: #412b1d;
  overflow: auto;
}
@media only screen and (max-width: 1100px) {
  .team-member {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.team-member__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1074px;
}
@media only screen and (max-width: 900px) {
  .team-member__container {
    padding: 3rem 1rem 3.5rem 1rem;
  }
}
@media only screen and (max-width: 1100px) {
  .team-member__container {
    max-width: none;
    width: auto;
  }
}
.team-member__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 3rem;
}
@media only screen and (max-width: 1100px) {
  .team-member__grid {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 1074px) {
  .team-member__grid {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (max-width: 900px) {
  .team-member__grid {
    grid-gap: 1.5rem;
    padding: 0 1.5rem;
  }
}
.team-member__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  width: 300px;
}
.team-member__image {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.4);
}
.team-member__image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 0 10px #27160E;
          box-shadow: inset 0 0 0 10px #27160E;
}
.team-member__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem;
}
.team-member__name {
  font-family: SignPainter;
  font-weight: 500;
  font-size: 3rem;
  color: #fcbd00;
  margin-top: 2rem;
}
.team-member__split {
  margin: 0.5rem 0;
}
.team-member__split img {
  width: 100%;
}
.team-member__title {
  text-align: center;
  line-height: 1.4;
  color: white;
}

#team-benefits {
  background: #412b1d;
}

.team-benefits {
  padding-top: 0;
  color: white;
}
.team-benefits h2 {
  width: 100%;
  text-align: center;
  font-family: "SignPainter", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  color: #DEAF83;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 900px) {
  .team-benefits h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}
.team-benefits ul {
  list-style: none;
  margin: 0.5rem 0 1.5rem 0;
  padding: 0;
}
.team-benefits li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.125rem;
  line-height: 1.6;
}
.team-benefits li::before {
  content: "";
  display: block;
  width: 21px;
  height: 18px;
  margin-right: 1rem;
  margin-top: 0.25rem;
  background-image: url("assets/icons/check-icon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media only screen and (max-width: 900px) {
  .team-benefits li {
    font-size: 1rem;
  }
}
.team-benefits .benefits-intro {
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.team-benefits .benefits-intro p {
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 900px) {
  .team-benefits .benefits-intro p {
    font-size: 1rem;
  }
}
.team-benefits .benefits-acc {
  padding: 4rem 0;
}
.team-benefits .benefits-acc .benefits-acc-headline {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 900px) {
  .team-benefits .benefits-acc {
    padding: 3rem 0;
  }
}
.team-benefits .benefits-additional-info h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.team-benefits .benefits-additional-info p {
  margin-bottom: 3rem;
}
.team-benefits .benefits-additional-info p:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 900px) {
  .team-benefits .benefits-additional-info p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

.jobs-intro {
  color: white;
  text-align: center;
  margin-bottom: 4rem;
}
.jobs-intro p {
  margin-bottom: 1.5rem;
}
.jobs-intro p.season {
  color: #DEAF83;
  display: inline-block;
  padding: 1.5rem 2rem;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}
.jobs-intro a {
  position: relative;
  display: inline-block;
  color: #FCBC00;
  font-weight: 700;
}
.jobs-intro a::before {
  content: "";
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 2px;
  background: #FCBC00;
  opacity: 0;
}
.jobs-intro a:hover::before {
  opacity: 1;
}
@media only screen and (max-width: 900px) {
  .jobs-intro {
    margin-bottom: 2rem;
  }
  .jobs-intro p {
    font-size: 1rem;
  }
  .jobs-intro p.season {
    padding: 1rem;
  }
}

.merch {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.merch::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #442A1B;
  mix-blend-mode: multiply;
}
.merch__card {
  position: absolute;
  top: -22px;
  width: 808px;
  right: 56%;
  z-index: 1;
}
@media only screen and (max-width: 900px) {
  .merch__card {
    position: relative;
    right: auto;
    margin-bottom: 0;
    width: 90%;
    max-width: 650px;
  }
}
.merch__btn {
  margin-top: 2rem;
}
.merch__container {
  min-height: 660px;
  z-index: 1;
}
@media only screen and (max-width: 900px) {
  .merch__container {
    min-height: auto;
    padding: 2rem 1rem 4rem 1rem;
  }
}
.merch__img {
  width: 100%;
}

.booking .headline-sign {
  margin-bottom: 5rem;
}
@media only screen and (max-width: 900px) {
  .booking .headline-sign {
    margin-bottom: 3rem;
  }
}
.booking__content {
  padding-top: 3rem;
}
.booking__slider {
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .booking__slider {
    margin-bottom: 5rem;
  }
}
.booking__slider .twister-splide-slider {
  position: relative;
}
.booking__slider .twister-splide-slider::before, .booking__slider .twister-splide-slider::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6.5rem;
  background: -webkit-gradient(linear, left top, right top, from(rgb(40, 22, 15)), color-stop(29%, rgba(40, 22, 15, 0.8673844538)), color-stop(55%, rgba(40, 22, 15, 0.637692577)), to(rgba(40, 22, 15, 0)));
  background: -o-linear-gradient(left, rgb(40, 22, 15) 0%, rgba(40, 22, 15, 0.8673844538) 29%, rgba(40, 22, 15, 0.637692577) 55%, rgba(40, 22, 15, 0) 100%);
  background: linear-gradient(90deg, rgb(40, 22, 15) 0%, rgba(40, 22, 15, 0.8673844538) 29%, rgba(40, 22, 15, 0.637692577) 55%, rgba(40, 22, 15, 0) 100%);
  z-index: 1;
}
.booking__slider .twister-splide-slider::after {
  left: auto;
  right: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.booking__slider .splide__slide {
  padding: 0 4rem;
}
@media only screen and (max-width: 1200px) {
  .booking__slider .splide__slide {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 900px) {
  .booking__slider .splide__slide svg {
    display: block;
    width: 100%;
    max-width: 465px;
    margin: 0 auto;
  }
}
.booking__content {
  padding: 0 4rem;
}
@media only screen and (max-width: 900px) {
  .booking__content {
    padding: 0 0;
  }
}

.twister-splide-slider .splide__pagination {
  bottom: -1.5rem;
}
@media only screen and (max-width: 900px) {
  .twister-splide-slider .splide__pagination {
    bottom: -2.5rem;
  }
}
.twister-splide-slider .splide__pagination__page {
  background: #442A1B;
  width: 12px;
  height: 12px;
  margin: 12px;
}
.twister-splide-slider .splide__pagination__page.is-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background: #FCBC00;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 6.5rem;
  background: #442A1B;
  border: 8px solid #27160E;
  padding: 0 9rem;
  color: #B07E4B;
  -webkit-box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.24);
          box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.24);
}
.main-footer::before, .main-footer::after {
  content: "";
  position: absolute;
  left: 5.25rem;
  top: 0;
  height: 6rem;
  width: 3rem;
  background-image: url("assets/footer-plant.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
.main-footer::after {
  left: auto;
  right: 5.25rem;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  background-position: top right;
}
.main-footer .copyright {
  font-size: 1rem;
  width: 40%;
}
.main-footer .social-links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 20%;
}
.main-footer .policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
}
.main-footer .policy a {
  margin-left: 1.5rem;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.main-footer .policy a:first-child {
  margin: 0;
}
.main-footer .policy a:hover {
  color: #DEAF83;
  text-decoration: underline;
}
@media only screen and (max-width: 1600px) {
  .main-footer {
    padding: 0 2rem;
  }
  .main-footer::before, .main-footer::after {
    display: none;
  }
  .main-footer .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (max-width: 700px) {
  .main-footer {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem 1.25rem;
  }
  .main-footer .policy,
.main-footer .social-links,
.main-footer .copyright {
    text-align: center;
    width: 100%;
  }
  .main-footer .copyright {
    margin: 0.75rem 0 0.5rem 0;
  }
  .main-footer .social-links {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .main-footer .policy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.imprint {
  padding-top: 6rem;
}
.imprint .container {
  padding: 6rem 1.5rem;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (max-width: 900px) {
  .imprint .container {
    padding: 1rem 1.5rem 2rem 1.5rem;
  }
}
.imprint__section {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 900px) {
  .imprint__section {
    margin-bottom: 1rem;
  }
}
.imprint .h1 {
  font-family: "SignPainter", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  color: #DEAF83;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 900px) {
  .imprint .h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}
.imprint .h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 900px) {
  .imprint .h3 {
    font-size: 1.25rem;
  }
}
.imprint p {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 900px) {
  .imprint p {
    font-size: 1rem;
  }
}
.imprint a {
  position: relative;
  display: inline-block;
  font-weight: 600;
  color: #fcbd00;
}
.imprint a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  height: 2px;
  width: 100%;
  background: #fcbd00;
  opacity: 0;
}
.imprint a:hover::after {
  opacity: 1;
}