/* BREAKPOINTS

1600px
1200px
900px
700px

*/

//vars

$soft-brown: #DEAF83;

@font-face {
    font-family: Silka;
    font-weight: 700;
    src: url(assets/fonts/silka-bold.woff2);
  }

@font-face {
    font-family: Silka;
    font-weight: 600;
    src: url(assets/fonts/silka-semibold.woff2);
}

@font-face {
    font-family: Silka;
    font-weight: 500;
    src: url(assets/fonts/silka-medium.woff2);
}

@font-face {
    font-family: Silka;
    font-weight: 400;
    src: url(assets/fonts/silka-regular.woff2);
}

@font-face {
    font-family: SignPainter;
    font-weight: 400;
    src: url(assets/fonts/SignPainter-HouseScript-regular.woff);
}

@font-face {
    font-family: SignPainter;
    font-weight: 500;
    src: url(assets/fonts/SignPainter-HouseScript-medium.woff);
}

@font-face {
    font-family: BudNull;
    font-weight: 500;
    src: url(assets/fonts/budnull-medium.woff2);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Silka";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    box-sizing: border-box;
}

::selection {
    color: #B07E4B;
    background: rgba(#442A1B,0.996);
}

a {
    display: block;
    text-decoration: none;
    color: #B07E4B;
}

h1,h2,h3,p {
    margin: 0;
}

h1 {
  font-size: 4rem;
  font-family: "SignPainter", sans-serif;
  font-weight: 500;
  color: #fcbd00;
  margin-bottom: 3rem;

  @media only screen and (max-width: 900px) {
      font-size: 3rem;
      margin-bottom: 2rem;
  }
}

p {
    font-size: 1.125rem;
    line-height: 1.6;
}

button {
    border: none;
}

.button {
    &.primary {
        display: flex;
        align-items: center;
        position: relative;
        font-weight: 600;
        text-transform: uppercase;
        padding: 1.5rem 1.75rem;
        border-radius: 1rem;
        background: #FCBC00;
        color: #442A1B;
        text-decoration: none;
        letter-spacing: 2px;
        transition: .2s ease;
        transition-property: transform, background-color, box-shadow;
        box-shadow: 0 4px 24px rgba(0,0,0,0.2);

        svg {
            margin-right: .75rem;
        }

        &:hover {
            box-shadow: 0 16px 24px rgba(0,0,0,0.2);
            background: white;
            transform: translate3d(0,-6px,0);
        }

        @media only screen and (max-width: 900px) {
            padding: 1.5rem 1.5rem;
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #27160e;
    scroll-margin-top: 100px;

    @media only screen and (max-width: 900px) {
        scroll-margin-top: 72px;
    }

    &.section--light {
        background: #442A1B;
    }
}

.container {
    display: flex;
    width: 100%;
    max-width: calc(1280px + 4rem);
    box-sizing: border-box;
    padding: 7rem 2rem;

    &--small {
        max-width: calc(846px + 4rem);
    }

    &--wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &--full {
        max-width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .col-100 {
        width: 100%;
    }

    .col-50 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    @media only screen and (max-width: 900px) {
        flex-direction: column;
        padding: 6rem 1rem;

        .col-50 {
            width: 100%;
        }
    }

    @media only screen and (max-width: 600px) {
        padding: 4rem 1rem;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 1.5rem;
}

.headline-comb {
    .h2 {
        position: relative;
        font-size: 9.5rem;
        font-family: BudNull;
        font-weight: 500;
        color: #FCBC00;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 6rem;
        user-select: none;

        span {
            width: 100%;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            font-family: SignPainter;
            font-weight: 500;
            font-size: 4rem;
            color: white;
            text-align: center;
            text-transform: none;
            text-shadow: 0 0 24px rgba(0,0,0,0.24);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -3.25rem;
            left: 50%;
            transform: translateX(-50%);
            width: 75px;
            height: 13px;
            background: url("assets/wave.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    @media only screen and (max-width: 1200px) {
        .h2 {
            font-size: 7rem;
            margin-bottom: 4rem;

            span {
                font-size: 3rem;
            }

            &::after {
                bottom: -2.25rem;
            }
        }
    }

    @media only screen and (max-width: 900px) {
        .h2 {
            font-size: 6rem;
            margin-bottom: 4rem;

            span {
                font-size: 2.5rem;
            }

            &::after {
                bottom: -2.25rem;
            }
        }
    }

    &--small {
        .h2 {
            font-size: 6rem;

            span {
                font-size: 3rem;
            }
        }
    }
}

.headline-img {
    position: relative;
    margin-bottom: 6rem;

    &::after {
        content: '';
        position: absolute;
        bottom: -3.25rem;
        left: 50%;
        transform: translateX(-50%);
        width: 75px;
        height: 13px;
        background: url("assets/wave.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    img {
        width: 330px;
        max-width: 100%;

        @media only screen and (max-width: 500px) {
            width: 273px;
        }
    }
}

.headline-sign {
    padding: 1.25rem 1rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    font-family: "SignPainter", sans-serif;
    font-weight: 500;
    font-size: 4.5rem;
    letter-spacing: 0;
    line-height: 4.5rem;
    color: $soft-brown;
    margin-bottom: 3rem;
    background: url("assets/images/headline-sign.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    @media only screen and (max-width: 540px) {
        font-size: 4rem;
    }

    @media only screen and (max-width: 500px) {
        font-size: 3.5rem;
    }

    @media only screen and (max-width: 400px) {
        font-size: 3rem;
    }
}

.flower-sandwich-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "SignPainter", sans-serif;
    font-weight: 500;
    font-size: 4.5rem;
    letter-spacing: 0;
    line-height: 4.5rem;
    width: 100%;
    color: $soft-brown;
    text-align: center;
    margin-bottom: 4.5rem;

    &::before{
        content: '';
        display: block;
        height: 25px;
        width: 114px;
        background-image: url("assets/images/little-flowers.svg");
    }
    &::after{
        content: '';
        display: block;
        height: 25px;
        width: 114px;
        background-image: url("assets/images/little-flowers.svg");
    }

    @media only screen and (max-width: 900px) {
        font-size: 3.5rem;
        margin-bottom: 3.5rem;
    }
}

.headline-swing-top {
    position: relative;
    color: #DEAF83;
    font-family: Silka;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 2rem;
    letter-spacing: 0;
    line-height: 41.6px;

    &::before {
        content: '';
        position: absolute;
        top: -2rem;
        left: 0;
        width: 75px;
        height: 13px;
        background: url("assets/wave.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

  //accordion
  .acc {
    &__trigger {
        color: #FCBC00;
        font-family: Silka;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
        padding: 1.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: .3s ease;

        &:hover {
          padding: 1.5rem 1.5rem;
          background-color: rgba(255,255,255,0.025);

          @media only screen and (max-width: 900px) {
            padding: 1.5rem 0;
            background-color: rgba(255,255,255,0);
          }

        }

        @media only screen and (max-width: 900px) {
          font-size: 1.125rem;
        }

        &:first-of-type {
            border-top: 2px solid #B07E4B;
        }

        &::after {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            background-image: url('assets/icons/arrow-icon.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transform: rotate(-90deg);
            transition: .3s ease;
            transition-property: transform;
        }

        &.active {
          padding: 1.5rem 1.5rem;
          background-color: rgba(255,255,255,0.025);
            &::after {
                transform: rotate(90deg);
            }
        }
    }
    &__content-wrapper {
        overflow: hidden;
        transition: .3s ease;
        height: 0;
        border-bottom: 2px solid #B07E4B;
        color: white;
        font-family: Silka;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 28.8px;
        padding: 0 1.5rem;

        &.active {
            height: auto;
            background-color: rgba(255,255,255,0.025);
        }
    }
  }

p.hl-richtext-comb {
    text-align: center;
    color: white;
    margin-bottom: 1rem;

    &::selection {
        color: #563E31;
        background: rgba(255,255,255,0.996);
    }

    @media only screen and (max-width: 900px) {
        font-size: 1rem;
    }
}

.rte {
    color: white;
    font-size: 18px;
    line-height: 1.6;

    @media only screen and (max-width: 900px) {
        font-size: 16px;
    }

    ul {
        list-style: none;
        margin: .5rem 0 1.5rem 0;
        padding: 0;
    }

    li {
        display: flex;
        align-items: flex-start;
        font-size: 1.125rem;
        line-height: 1.6;

        &::before {
            content: '';
            display: block;
            width: 21px;
            height: 18px;
            margin-right: 1rem;
            margin-top: 0.25rem;
            background-image: url('assets/icons/check-icon.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            flex-shrink: 0;
        }

        @media only screen and (max-width: 900px) {
            font-size: 16px;
        }
    }

    p {
        margin-bottom: 1.5rem;

        @media only screen and (max-width: 900px) {
            font-size: 16px;
        }

        span {
          text-decoration: underline;
        }
    }

    a {
        position: relative;
        display: inline;
        color: #FCBC00;
        font-weight: bold;
        &::before {
            position: absolute;
            bottom: -4px;
            content: '';
            height: 2px;
            width: 0;
            background-color: #FCBC00;
        }

        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.5rem;
    z-index: 100;

    @media only screen and (max-width: 900px) {
        height: 4.5rem;
    }
}

.main-nav-desktop,
.main-nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #442A1B;
    box-shadow: 0 4px 16px rgba(0,0,0,0.24);
}

.main-nav-desktop {
    border: 8px solid #27160E;
    padding: 0 2rem 0 1.5rem;

    @media only screen and (max-width: 900px) {
        display: none;
    }
}

.main-nav-mobile {
    display: none;
    border: 6px solid #27160E;
    padding: 0 .5rem 0 1.25rem;

    @media only screen and (max-width: 900px) {
        display: flex;
    }

    .mobile-nav-control {
        width: 48px;
        height: 48px;
        cursor: pointer;
    }
}

.main-nav-mobile-flyout {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 4.5rem);
    background: #27160E;
    z-index: 5;
    padding-top: 4rem;
    transform: translate3D(-100%, 0, 0);
    transition: .5s ease;
    will-change: transform;
    box-shadow: inset 0 4px 24px rgba(0,0,0,.24);

    &::before {
        content: '';
        position: absolute;
        left: -1px;
        top: -1px;
        height: calc(100% + 2px);
        width: 90px;
        background-image: url("assets/frame.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
        filter: drop-shadow(4px 0 16px rgba(0,0,0,.24));
        z-index: 1;
        transform: translate3D(-100%, 0, 0);
        transition: transform .8s ease;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 202px;
        height: 185px;
        background-image: url("assets/images/flower-2.svg");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: .03;
    }

    &.main-nav-mobile-flyout--open {
        transform: translate3D(0, 0, 0);

        .main-nav li,
        &::before {
            transform: translate3D(0, 0, 0);
        }
    }

    hr {
        margin: 0 0 2rem 8rem;
        width: 200px;
        border-color: #B07E4B;
        opacity: .25;
    }

    .main-nav {
        flex-direction: column;
        margin-left: 8rem;

        li {
            text-align: left;
            transform: translate3D(-100%, 0, 0);
            transition: transform .7s ease;

            &:nth-child(2) {
                transition-delay: .1s;
            }

            &:nth-child(3) {
                transition-delay: .15s;
            }

            &:nth-child(3) {
                transition-delay: .2s;
            }

            &:nth-child(4) {
                transition-delay: .25s;
            }

            &:nth-child(5) {
                transition-delay: .3s;
            }
        }
    }

    .social-links {
        display: flex;
        justify-content: flex-start;
        margin-left: 8rem;

        a {
          cursor: pointer;
        }
    }
}

.main-nav {
    display: flex;
    padding: 0;
    list-style: none;
    font-family: Silka, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1.7px;

    li {
        padding: 1rem 0;
        margin-right: 2.5rem;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center;

        a {
            color: #B07E4B;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover a {
            color: $soft-brown;
        }
    }
}

.header-logo {
    display: block;
    transition: .2s ease;

    &:hover {
        opacity: .7;
    }
}

.social-links {
    display: flex;
    justify-content: flex-end;
    width: 155px;

    a {
        margin-left: 2rem;

        &:first-child {
            margin-left: 0;
        }

        svg {
            transition: .2s ease;
        }

        &:hover {
            svg {
                fill: $soft-brown !important;
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        display: none;
    }
}

.frame {
    position: fixed;
    top: 102px;
    left: -1px;
    z-index: 10;
    width: 100px;
    height: calc(100% - 102px);
    background-image: url("assets/frame.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    filter: drop-shadow(4px 0 16px rgba(0,0,0,.24));

    &.frame-right {
        left: auto;
        right: -1px;
        height: calc(100% - 102px);
        transform: scaleX(-1);
        background-position: top right;
        filter: drop-shadow(-4px 0 16px rgba(0,0,0,.24));
    }

    @media only screen and (min-height: 1080px) {
        width: 120px;
        background-size: contain;

        &.frame-right {
            background-position: top left;

        }
    }

    @media only screen and (max-width: 1600px) {
        display: none;
    }
}

section.stage {
    position: relative;
    margin-top: 6.5rem;
    height: calc(100vh - 6.5rem);
    width: 100%;

    @media only screen and (max-width: 900px) {
        margin-top: 4.5rem;
        height: calc(100vh - 4rem);
        max-height: 850px;
    }
}

.infobar-desktop,
.infobar-mobile {
    position: relative;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 6rem;
    width: 100%;
    background: #B07E4B;
    z-index: 1;

    .info-wrapper {
        display: flex;
        max-width: 1440px;
        padding: 0 11rem;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        margin: 0 auto;

        @media only screen and (max-width: 1200px) {
            padding: 0 2rem;
        }
    }

    .info-item {
        display: flex;
        align-items: center;

        svg {
            user-select: none;
            z-index: 1;
            transition: .5s ease;
        }
    }

    .info-text p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.3;
        color: #442A1B;
        margin: 0;
        padding-left: 1rem;

        a {
            display: inline-block;
            position: relative;
            font-weight: 700;
            transition: .3s ease;
            cursor: pointer;
            color: #442A1B;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 100%;
                background: #442A1B;
                opacity: 0;
            }

            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}

.infobar-desktop {
    position: absolute;
    background: rgba(#B07E4B, .8);
    backdrop-filter: saturate(180%) blur(4px);

    @media only screen and (max-width: 900px) {
        display: none;
    }
}

.infobar-mobile {
    display: none;
    flex-direction: column;
    padding: 1rem;
    height: auto;

    .info-toggle {
        display: flex;
        padding: .25rem;
        border-radius: 6px;
        width: 100%;
        height: 44px;
        background: rgba(black,0.1);
        box-shadow: inset 0 0 16px rgba(0,0,0, .08);

        .info-item {
            justify-content: center;
            width: 33.33%;

            &.info-toggle-active {
                svg {
                    fill: $soft-brown !important;
                }
            }

            &.location {
                position: relative;

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    box-sizing: border-box;
                    width: 100%;
                    transition: .5s ease;
                }

                &::after {
                    top: .25rem;
                    width: 100%;
                    height: 28px;
                    border: 2px solid rgba(#442A1B, .5);
                    border-top-width: 0;
                    border-bottom-width: 0;
                }

                &::before {
                    top: 0;
                    height: 100%;
                    border-radius: 4px;
                    background: #442A1B;
                }

                &.info-toggle-left {

                    &::after {
                        border-left-width: 0;
                    }

                    &::before {
                        transform: translateX(-100%);
                    }
                }

                &.info-toggle-right {

                    &::after {
                        border-right-width: 0;
                    }

                    &::before {
                        transform: translateX(100%);
                    }
                }
            }
        }
    }

    .info-toggle-content  {
        position: relative;
        top: 0.6rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 5rem;
        overflow: hidden;
        align-items: center;

        .info-text-before {
            transform: translateY(-50%) translateX(-350px);
        }
        .info-text-after {
            transform: translateY(-50%) translateX(350px);
        }
        .info-text-active {
            opacity: 1;
        }
    }

    .info-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        opacity: 0;
        transition: .5s ease-in-out;
        transition-property: transform, opacity;

        p {
            text-align: center;
            line-height: 1.3;

             a {
                display: inline-block;

                &::after {
                    opacity: 1;
                }
             }
        }
    }

    @media only screen and (max-width: 900px) {
        display: flex;
    }
}

.stage-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    user-select: none;
    width: 100%;
    backdrop-filter: saturate(180%) blur(4px);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(39, 22, 14, .5);
    }

    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
        text-align: center;
        opacity: 0;
        transition: opacity 1s;

        &--active {
            opacity: 1;
        }

    }

    .stage-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        img {
            height: 6rem;
            margin-bottom: 2.5rem;
            user-select: none;

            @media only screen and (max-width: 900px) {
                width: 70vw;
                height: auto;
                margin-bottom: 1.5rem;
            }

            @media only screen and (max-height: 680px) {
                display: none;
            }
        }

        p {
          box-sizing: border-box;
          width: 100%;
          max-width: 70rem;
          padding: 0 2rem;
          font-size: 1.25rem;
          font-weight: 500;
          text-align: center;
          color: white;
          margin-bottom: 3rem;
          filter: drop-shadow(0px 0px 24px rgba(0,0,0,1));

          @media only screen and (max-width: 900px) {
              font-size: 1.125rem;
              padding: 0 1rem;
              margin-bottom: 2rem;
          }

          @media only screen and (max-height: 560px) {
              padding-top: 5rem;
          }
        }

        @media only screen and (max-width: 900px) {
            margin-bottom: 3rem;
        }
    }

    .scroll-indicator {
        position: absolute;
        bottom: 3rem;
        width: 2rem;
        height: 2rem;
        padding: 1rem;
        background: url("assets/icons/scroll-Indicator.svg");
        background-size: 20px 27px;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 1;
        animation: scroll-down 1.2s cubic-bezier(0.75, 0.24, 0.36, 0.83) infinite;
        border-radius: 1rem;
        transition: background-color .2s;
        cursor: pointer;

        @keyframes scroll-down {
            0% {transform: translateY(0);}
            50% {transform: translateY(12px);}
            100% {transform: translateY(0);}
        }

        &:hover {
          background-color: rgba(255,255,255,0.1);
        }

        @media only screen and (max-height: 680px) {
            display: none;
        }
    }

    @media only screen and (max-width: 900px) {
        max-height: 850px;
    }
}

section.introduction {
    padding: 2rem 0;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 364px;
        height: 407px;
        background-size: cover;
        opacity: .03;
    }

    &::before {
        top: 0;
        left: 3rem;
        background-image: url("assets/images/flower-1.svg");
    }

    &::after {
        bottom: 0;
        right: 3rem;
        background-image: url("assets/images/flower-2.svg");
    }

    @media only screen and (max-width: 1600px) {
        padding: 0;

        &::before {
            left: -.5rem;
        }

        &::after {
            right: .5rem;
        }
    }

    @media only screen and (max-width: 900px) {
        &::before,
        &::after {
            width: 182px;
            height: 204px;
        }
    }

    .intro-card {
        position: relative;
        padding: 0 4rem;
        z-index: 1;
        width: 100%;

        .intro-img {
            width: 100%;
            filter: drop-shadow(8px 8px 24px rgba(0,0,0,0.24));
        }



        &::after {
            content: '';
            position: absolute;
            top: -4rem;
            left: 0;
            width: 40%;
            height: 40%;
            max-width: 200px;
            max-height: 200px;
            background-image: url("assets/images/aloha-stoerer.svg");
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;
            filter: drop-shadow(4px 4px 24px rgba(39,22,14,0.72));
            animation: stoerer 4s 0s ease-in-out infinite;
        }

        @keyframes stoerer {
            0% {transform: rotate(0deg);}
            5% {transform: rotate(20deg);}
            10% {transform: rotate(0deg);}
            15% {transform: rotate(20deg);}
            20% {transform: rotate(0deg);}
            100% {transform: rotate(0deg);}
        }

        @media only screen and (max-width: 1200px) {
            &::before {
                left: 7rem;
            }
        }

        @media only screen and (max-width: 900px) {
            width: 90%;
            height: auto;
            max-width: 465px;
            margin-bottom: 5rem;


            &::before {
                left: 2rem;
            }

            &::after {
                display: none;
            }
        }

        @media only screen and (max-width: 500px) {
            padding: 0 1.5rem;
        }
    }
}

//history

.history {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s ease;
    transition-property: background;

    &::after {
        content:"";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #442A1B;
        mix-blend-mode: multiply;
    }

    &__container {
        z-index: 1;
        overflow: hidden;
    }
}

.history-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;

    .button.primary {
      color: white;
      background: transparent;
      position: relative;
      padding: 0.1rem 0 0 2rem;
      margin-top: 2.5rem;
      font-size: 1rem;

      &::before,
      &::after {
        content: '';
        position: absolute;
      }

      &::before {
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-image: url("assets/icons/arrow-right.svg");
      }

      &::after {
        width: calc(100% - 2rem);
        right: 0;
        bottom: -3px;
        height: 2px;
        background: #FCBC00;
        opacity: 0;
      }

      &:hover {
        color: #FCBC00;
        transform: translateY(0);

        &::after {
          opacity: 1;
        }
      }

    }

    &__nav {
        display: flex;
        position: relative;
    }

    &__nav-before, &__nav-after {
        display: block;
        position: absolute;
        top: 50%;
        left: -1.5rem;
        width: 24px;
        height: 24px;
        transform: translateY(-50%);
        background-image: url('assets/icons/arrow-icon.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }


    &__nav-after {
        left: auto;
        right: -1.5rem;
        transform: translateY(-50%) rotate(180deg);
    }

    &__nav-item {
        display: flex;
        align-items: center;

        &:not(:last-of-type)::after {
            content: '';
            display: block;
            height: 2px;
            width: 2.9rem;
            background-color: #B07E4B;

            @media only screen and (max-width: 1200px) {
                display: none;
            }
        }

        @media only screen and (max-width: 1200px) {
            display: none;
        }

        span {
            position: relative;
            opacity: 0.5;
            color: #DEAF83;
            font-family: BudNull;
            font-size: 37px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 1.8rem;
            margin: 0 1.5rem;
            cursor: pointer;
            transition: .3s ease;
            transition-property: color, font-size;

            &::after {
                content: "";
                position: absolute;
                bottom: -1.25rem;
                left: 50%;
                transform: translateX(-50%);
                height: 14px;
                width: 66px;
                background: url(assets/wave.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                opacity: 0;
                transition: .3s ease;
                transition-property: opacity;
            }

            &:hover {
              color: white;
              opacity: 1;
            }
        }

        &--active {
            span {
                display: block;
                color: #FFFFFF;
                font-size: 3rem;
                opacity: 1;

                &::after {
                    opacity: 1;
                }
            }

            @media only screen and (max-width: 1200px) {
                display: block;
            }
        }
    }

    &__content {
        position: relative;
        width: 100%;
        height: 400px;
        margin-top: 4.375rem;
        transition: .5s ease;
        transition-property: height;
    }

    &__content-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: .5s ease;

        &--active {
            opacity: 1;
        }
        &--before {
            transform: translateX(-100%);
        }
        &--after {
            transform: translateX(100%);
        }
    }

    &__content-container {
        @media only screen and (max-width: 1200px) {
            display: block;
        }
    }

    &__content-text {
        margin-top: 5.25rem;
        grid-column: 2 / 6;
        margin-right: .5rem;

        @media only screen and (max-width: 1200px) {
            margin-top: 0;
            margin-bottom: 4rem;
        }

        @media only screen and (max-width: 600px) {
            margin-top: 0;
            margin-bottom: 3rem;
        }
    }

    &__content-headline {
        color: #FFFFFF;
        font-family: SignPainter;
        font-weight: 500;
        font-size: 4.5rem;
        line-height: 4rem;

        @media only screen and (max-width: 900px) {
            font-size: 3.5rem;
        }
    }

    &__content-para {
        margin-top: 1.5rem;
        padding-left: 1.75rem;
        border-left: 2px solid #FCBC00;
        color: white;
    }

    &__content-img {
        grid-column: 7 / 13;
        display: flex;
        justify-content: center;
    }

    &__content-img-wrapper {
        transform: rotate(3deg);

        img {
            box-sizing: border-box;
            border-radius: 2rem;
            border: 10px solid #442a1b;
            width: 100%;
            height: auto;
            aspect-ratio: 4 / 3;

            @media only screen and (max-width: 1200px) {
                max-width: 60vw;
                height: auto;
            }

            @media only screen and (max-width: 900px) {
                max-width: 80vw;
                height: auto;
            }
        }
    }

    &__button {
        margin-top: 2rem;
        cursor: pointer;
    }
}


  .pre-footer {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 5rem 1rem 6rem 1rem;
      background-image: url("assets/images/pre-footer.jpg");
      background-size: cover;
      background-position: center center;

      @media only screen and (max-width: 600px) {
        padding: 4rem 1rem 5rem 1rem;

        p {
          font-size: 1rem;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(39, 22, 14, 0.6);
     }

    .pre-footer-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
        text-align: center;
    }

    .pre-footer-content {
        width: 100%;
        max-width: 50rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        color: white;
        text-align: center;

        .h3 {
            font-family: "SignPainter", sans-serif;
            font-weight: 500;
            font-size: 3rem;
            line-height: 1;
            margin-top: .5rem;

            @media only screen and (max-width: 600px) {
              font-size: 2.75rem;
            }
        }

        h3::selection,
        p::selection,
        strong::selection,
        a::selection,
        br::selection {
            background: rgba(255,255,255,0.996);
            color: #563E31;
        }

        .pre-footer-contact {
          margin: 3rem 0;
          background: rgba(255,255,255,.2);
          border: 1px solid rgba(255,255,255,.3);
          border-radius: 1rem;
          padding: 1.5rem 3rem;

          a {
            display: inline-block;
            position: relative;
            color: white;
            font-size: 1.125rem;
            font-weight: 500;

            &::after {
              content: '';
              position: absolute;
              bottom: 2px;
              left: 0;
              width: 100%;
              height: 2px;
              background: white;
              opacity: 0;
              transition: .2s ease;
            }

            &:hover {
              &::after {
                opacity: 1;
              }
            }
          }

          @media only screen and (max-width: 600px) {
            margin: 2rem 0;
            padding: 1rem 1.5rem;

            a {
              font-size: 1rem;
            }
          }
        }

        .pre-footer-opening {
          box-sizing: border-box;
          display: flex;

          p:first-child {
            margin-right: 4rem;
          }

          @media only screen and (max-width: 600px) {
            flex-direction: column;

            p:first-child {
              margin-right: 0;
              margin-bottom: 1rem;
            }
          }
        }
    }
  }

  //eat-drink
  .eat-drink {
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 364px;
        height: 407px;
        background-size: cover;
        opacity: .03;
    }

    &::before {
        top: 0;
        left: 3rem;
        background-image: url("assets/images/flower-1.svg");
    }

    &::after {
        bottom: 0;
        right: 3rem;
        background-image: url("assets/images/flower-2.svg");
    }

    @media only screen and (max-width: 1600px) {
        padding: 0;

        &::before {
            left: -.5rem;
        }

        &::after {
            right: .5rem;
        }
    }

    @media only screen and (max-width: 900px) {
        &::before,
        &::after {
            width: 182px;
            height: 204px;
        }
    }

    &__container {
        flex-direction: column;
        align-items: center;
    }

    &__text {
        color: white;
        text-align: center;
        max-width: 880px;

        p {
          margin-bottom: 1rem;
        }
    }

    &__split {
        margin: 1.5rem 0;
        width: 75px;
    }

    &__pdf-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1260px;

        margin-top: 4rem;
        margin-bottom: 1rem;
        grid-gap: 3rem;

        @media only screen and (max-width: 1365px) {
            grid-template-columns: 1fr 1fr;
        }

        @media only screen and (max-width: 500px) {
            grid-template-columns: 1fr;
            grid-gap: 3rem;
        }
    }

    &__pdf-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-child(even) {
          transform: rotate(-2deg);
        }

        &:nth-child(odd) {
          transform: rotate(2deg);
        }

        @media only screen and (min-width: 901px) {
          &:hover {
            .eat-drink__pdf-item-image-wrapper {
              transform: scale(0.95);

              &::before {
                background: rgba(0,0,0,.5);
                box-shadow: inset 0 0 0 10px #FCBC00;
              }

              &::after {
                transform: scale(.85);
                opacity: 1;
              }
            }

            .eat-drink__pdf-item-text {
                color: #FCBC00;
                transform: translateY(-0.25rem);
            }
          }
        }
    }

    &__pdf-item-image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 280px;
      height: 280px;
      border-radius: 2rem;
      transition: transform .2s ease;
      margin-bottom: 1rem;

      &::after, &::before {
        content: '';
        position: absolute;
        transition: .2s ease;
        width: 100%;
        height: 100%;
      }

      &::before{
        top: 0;
        left: 0;
        background: rgba(0,0,0,0);
        border-radius: 2rem;
        box-shadow: inset 0 0 0 10px #442A1B;
      }

      &::after {
        width: 100px;
        height: 100px;
        background-image: url(assets/icons/eye.svg);
        background-size: cover;
        opacity: 0;
        transform: scale(.75);
      }
    }

    &__pdf-item-image {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 2rem;
        object-fit: cover;
        box-shadow: 0 8px 64px 0 rgba(0,0,0,0.4);
    }

    &__pdf-item-text {
        font-family: "SignPainter", sans-serif;
        font-size: 3rem;
        color: #DEAF83;
        text-shadow: 3px 4px 0px #442A1B;
        transition: .2s ease;
    }
  }

  .specialities {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #442A1B;
      mix-blend-mode: multiply;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 1;
    }

    .headline-comb h2 {
        font-size: 7.5rem;
        font-family: BudNull;
        font-weight: 500;
        color: #FCBC00;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 3rem;

        @media only screen and (max-width: 1200px) {
            font-size: 6rem;
        }

        @media only screen and (max-width: 900px) {
            font-size: 5rem;
            margin-bottom: 1rem;
        }

        @media only screen and (max-width: 600px) {
            font-size: 4rem;
            margin-bottom: 1rem;

            span {
              font-size: 2rem;
            }
        }
    }

    &__slider {
        width: 100%;

    }

    &__track {

    }

    &__slide {
        padding: 3rem 10px;
        transform: rotate(2deg);

        &:nth-child(even) {
            transform: rotate(-2deg);
        }

        &.pre-active {
            .specialities__slide-img {
                transform: scale(1);
            }
        }
    }


    &__slide-img {
        box-sizing: border-box;
        aspect-ratio: 1;
        width: 470px;
        object-fit: cover;
        border-radius: 2rem;
        border: 10px solid #442a1b;
        transform: scale(0.7);
        transition: 0.5s ease;
        box-shadow: 0 0 64px rgb(0 0 0 / 30%);

        @media only screen and (max-width: 1200px) {
            width: 400px;
        }

        @media only screen and (max-width: 650px) {
            aspect-ratio: 1;
            width: 80vw;
            height: auto;
        }
    }


    .splide__arrow--prev {
        left: 10rem;

        @media only screen and (max-width: 1600px) {
            left: 3rem;
        }

        @media only screen and (max-width: 650px) {
            left: 1rem;
            top: calc(100% + 2rem);
        }

        img {
          filter: drop-shadow(0px 0px 16px rgba(0,0,0,1));
        }
    }

    .splide__arrow--next {
        right: 10rem;
        transform: translateY(-50%) rotate(180deg);

        @media only screen and (max-width: 1600px) {
            right: 3rem;
        }

        @media only screen and (max-width: 650px) {
            right: 1rem;
            top: calc(100% + 2rem);
        }

        img {
          filter: drop-shadow(0 0 16px rgba(0,0,0,1));
        }
    }

    .splide__arrow {
        background: transparent;
        opacity: 1;
        box-shadow: none;
        img {
            width: 80px;
            @media only screen and (max-width: 650px) {
                width: 15px;
            }
        }
    }

    &__slide-text-wrapper {
        position: relative;
        max-width: 1045px;
        width: 100%;
    }

    &__slide-text {
        color: white;
        text-align: center;
        transition: 0.6s;
        position: absolute;
        padding: 0 1rem;

        &:not(.active) {
            opacity: 0;
            pointer-events: none;
        }

        .h3 {
            align-items: center;
            font-family: "SignPainter", sans-serif;
            font-weight: 500;
            font-size: 4.5rem;
            letter-spacing: 0;
            line-height: 4.5rem;
            width: 100%;
            color: #DEAF83;
            text-align: center;
            padding: 0 0 1rem;

            @media only screen and (max-width: 900px) {
                font-size: 3.5rem;
                padding-bottom: .5rem;
            }

            @media only screen and (max-width: 374px) {
                font-size: 2.5rem;
                line-height: 4rem;
            }
        }

        p {
          @media only screen and (max-width: 900px) {
              font-size: 1rem;
          }
        }

    }
  }

//team

.team {
  .headline-comb {
    .h2 {
      font-size: 7.5rem;

      @media only screen and (max-width: 1200px) {
          font-size: 6rem;
      }

      @media only screen and (max-width: 900px) {
          font-size: 5rem;
      }

      @media only screen and (max-width: 600px) {
          font-size: 4rem;
      }
    }
  }
  .team-img-wrapper {
    width: 90%;
    padding-left: 3rem;

    @media only screen and (max-width: 900px) {
        padding-left: 0rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }


    .team-img {
      position: relative;
      transform: rotate(3deg);

      &::before, &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: .5rem;
      }

      &::before {
        top: 1.5rem;
        left: .5rem;
        background: #DEAF83;
        opacity: 0.15;
        z-index: -1;
        transform: rotate(-3deg);
      }

      &::after {
        top: 0;
        left: 0;
        box-shadow: 16px 16px 64px 0 rgba(0,0,0,0.3);
      }

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: .5rem;
      }
    }
  }
}

//team member
.team-member {
    background-color: #412b1d;
    overflow: auto;

    @media only screen and (max-width: 1100px) {
        align-items: start;
    }

    &__container {
        justify-content: center;
        align-items: center;
        width: 1074px;

        @media only screen and (max-width: 900px) {
            padding: 3rem 1rem 3.5rem 1rem;
        }

        @media only screen and (max-width: 1100px) {
            max-width: none;
            width: auto;
        }

    }

    &__grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 3rem;

        @media only screen and (max-width: 1100px) {
            flex-wrap: nowrap;
        }

        @media only screen and (max-width: 1074px) {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(6, 1fr);
        }

        @media only screen and (max-width: 900px) {
            grid-gap: 1.5rem;
            padding: 0 1.5rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        width: 300px;
    }

    &__image {
      position: relative;
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: 0 8px 64px 0 rgb(0 0 0 / 40%);

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          box-shadow: inset 0 0 0 10px #27160E;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 1.5rem;
        }
    }

    &__name {
        font-family: SignPainter;
        font-weight: 500;
        font-size: 3rem;
        color: #fcbd00;
        margin-top: 2rem;
    }

    &__split {
        margin: .5rem 0;

        img {
            width: 100%;
        }
    }

    &__title {
      text-align: center;
      line-height: 1.4;
      color: white;
    }
}

//team-benefits

#team-benefits {
  background: #412b1d;
}

.team-benefits {
  padding-top: 0;
  color: white;

  h2 {
    width: 100%;
    text-align: center;
    font-family: "SignPainter", sans-serif;
    font-weight: 500;
    font-size: 4rem;
    color: #DEAF83;
    margin-bottom: 3rem;

    @media only screen and (max-width: 900px) {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }

  ul {
      list-style: none;
      margin: .5rem 0 1.5rem 0;
      padding: 0;
  }

  li {
      display: flex;
      align-items: flex-start;
      font-size: 1.125rem;
      line-height: 1.6;

      &::before {
          content: '';
          display: block;
          width: 21px;
          height: 18px;
          margin-right: 1rem;
          margin-top: 0.25rem;
          background-image: url('assets/icons/check-icon.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          flex-shrink: 0;
      }

      @media only screen and (max-width: 900px) {
        font-size: 1rem;
      }
  }

  .benefits-intro {
    padding: 1.5rem;
    background: rgba(0,0,0,.2);
    border-radius: 1rem;

    p {
      margin-bottom: 1.5rem;
    }

    @media only screen and (max-width: 900px) {
      p {
        font-size: 1rem;
      }
    }
  }

  .benefits-acc {
    padding: 4rem 0;

    .benefits-acc-headline {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }

    @media only screen and (max-width: 900px) {
      padding: 3rem 0;
    }
  }

  .benefits-additional-info {
    h3 {
      font-size: 1.25rem;
      margin-bottom: .5rem;
    }

    p {
      margin-bottom: 3rem;

      &:last-child{
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: 900px) {
      p {
        font-size: 1rem;
        margin-bottom: 2rem;
      }
    }

  }
}


//jobs

.jobs-intro {
  color: white;
  text-align: center;
  margin-bottom: 4rem;

  p {
    margin-bottom: 1.5rem;

    &.season {
      color: #DEAF83;
      display: inline-block;
      padding: 1.5rem 2rem;
      background: rgba(0,0,0,0.15);
      border-radius: 1rem;
    }
  }

  a {
    position: relative;
    display: inline-block;
    color: #FCBC00;
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
      bottom: 1px;
      width: 100%;
      height: 2px;
      background: #FCBC00;
      opacity: 0;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    margin-bottom: 2rem;

    p {
      font-size: 1rem;

      &.season {
        padding: 1rem;
      }
    }

  }


}

//merch

.merch {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    &::after {
        content:"";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #442A1B;
        mix-blend-mode: multiply;
    }

    &__card {
        position: absolute;
        top: -22px;
        width: 808px;
        right: 56%;
        z-index: 1;

        @media only screen and (max-width: 900px) {
            position: relative;
            right: auto;
            margin-bottom: 0;
            width: 90%;
            max-width: 650px;
        }
    }

    &__btn {
        margin-top: 2rem;
    }

    &__container {
        min-height: 660px;
        z-index: 1;

        @media only screen and (max-width: 900px) {
            min-height: auto;
            padding: 2rem 1rem 4rem 1rem;
        }
    }

    &__img {
        width: 100%;
    }
  }

  //booking
  .booking{

    .headline-sign {
      margin-bottom: 5rem;

      @media only screen and (max-width: 900px) {
          margin-bottom: 3rem;
      }
    }

    &__content {
      padding-top: 3rem;
    }

    &__slider {
        position: relative;
        width: 100%;

        @media only screen and (max-width: 900px) {
            margin-bottom: 5rem;
        }

        .twister-splide-slider {
            position: relative;

            &::before, &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 6.5rem;
                background: linear-gradient(90deg, rgba(40,22,15,1) 0%, rgba(40,22,15,0.8673844537815126) 29%, rgba(40,22,15,0.6376925770308124) 55%, rgba(40,22,15,0) 100%);
                z-index: 1;
            }

            &::after {
                left: auto;
                right: 0;
                transform: rotate(180deg);
            }

        }

        .splide {
            &__slide {
                //opacity: 0;
                padding: 0 4rem;

                @media only screen and (max-width: 1200px) {
                    padding: 0 2rem;
                }
                //transition: .5s ease;

                &.is-active {
                    //opacity: 1;
                }

                svg {
                    @media only screen and (max-width: 900px) {
                        display: block;
                        width: 100%;
                        max-width: 465px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    &__content {
        padding: 0 4rem;

        @media only screen and (max-width: 900px) {
            padding: 0 0;
        }
    }
  }

  .twister-splide-slider {
    .splide__pagination {
        bottom: -1.5rem;

        @media only screen and (max-width: 900px) {
            bottom: -2.5rem;
        }

        &__page {
            background: #442A1B;
            width: 12px;
            height: 12px;
            margin: 12px;

            &.is-active {
                transform: scale(1);
                background: #FCBC00;
            }
        }
    }
  }


  //footer

  .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 6.5rem;
    background: #442A1B;
    border: 8px solid #27160E;
    padding: 0 9rem;
    color: #B07E4B;
    box-shadow: 0 -4px 16px rgb(0 0 0 / 24%);

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 5.25rem;
        top: 0;
        height: 6rem;
        width: 3rem;
        background-image: url("assets/footer-plant.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
    }

    &::after {
        left: auto;
        right: 5.25rem;
        transform: scaleX(-1);
        background-position: top right;
    }

    .copyright {
        font-size: 1rem;
        width: 40%;
    }

    .social-links {
        justify-content: center;
        margin: 0 auto;
        width: 20%;
    }

    .policy {
        display: flex;
        justify-content: flex-end;
        width: 40%;

        a {
            margin-left: 1.5rem;
            transition: .2s ease;

            &:first-child {
                margin: 0;
            }

            &:hover {
                color: $soft-brown;
                text-decoration: underline;
            }
        }
    }

    @media only screen and (max-width: 1600px) {
        padding: 0 2rem;

        &::before,
        &::after {
            display: none;
        }

        .social-links {
            display: flex;
        }
    }

    @media only screen and (max-width: 700px) {
        height: auto;
        flex-direction: column;
        padding: 1.5rem 1.25rem;

        .policy,
        .social-links,
        .copyright {
            text-align: center;
            width: 100%;
        }

        .copyright {
            margin: .75rem 0 .5rem 0;
        }

        .social-links {
            order: -1;
        }

        .policy {
            justify-content: center;
        }
    }
  }

  //imprint

  .imprint {
    padding-top: 6rem;

    .container {
      padding: 6rem 1.5rem;
      color: white;
      flex-direction: column;

      @media only screen and (max-width: 900px) {
        padding: 1rem 1.5rem 2rem 1.5rem;
      }
    }

    &__section {
      margin-bottom: 2rem;

      @media only screen and (max-width: 900px) {
        margin-bottom: 1rem;
      }
    }

    .h1 {
      font-family: "SignPainter", sans-serif;
      font-weight: 500;
      font-size: 4rem;
      color: #DEAF83;
      margin-bottom: 3rem;

      @media only screen and (max-width: 900px) {
        font-size: 3.5rem;
        margin-bottom: 2rem;
      }

    }

    .h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;

      @media only screen and (max-width: 900px) {
        font-size: 1.25rem;
      }
    }

    p {
      margin-bottom: 1rem;

      @media only screen and (max-width: 900px) {
        font-size: 1rem;
      }
    }

    a {
      position: relative;
      display: inline-block;
      font-weight: 600;
      color: #fcbd00;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 1px;
        height: 2px;
        width: 100%;
        background: #fcbd00;
        opacity: 0;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
  }
